.floatingDiv{

    display: flex;
    justify-content:flex-start;
    background:white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    max-width: 13rem;
    height: 5rem;
    /* padding: 0px, 10px, 0px, 0px; */

} 

.floatingDiv>img{
    transform: scale(0.7);
    
}

.floatingDiv>span{
    font-family: sans-serif;
    font-size: 15 px;
    color: black;
    padding: .5rem;
}

.floatingDiv-img{
    position: absolute;
    top:35%; 
    left: 76%;
    z-index: 22;
}



@media screen and (max-width: 480px) {
    .floatingDiv:nth-of-type(1){
        display: none
    }
 }